<h3>Les locaux</h3>
<p>Type de logement : <%= @housing.type_of_housing %>.</p>
</p>Surface totale : <%= @housing.size %> m2.<p>

<p>Adresse : <%= @housing.street %>, <%= @housing.zip_code %>, <%= @housing.city %>.</p><br>
