<h1 align = "center">Etat des lieux</h1>
<p align="justify">L’état des lieux doit être établi de façon contradictoire entre les deux parties lors de la remise des clés au locataire et lors de leur restitution en fin de bail. L'état des lieux prévu à l'article 3-2 de la loi du 6 juillet 1989 doit porter sur l'ensemble des locaux et équipements d'usage privatif mentionnés au contrat de bail et dont le locataire a la jouissance exclusive.</p>
<hr>
<p><%= render 'inventories/housing_specs.html.erb', rental: @rental  %></p>
<hr>
<p><%= render 'inventories/owner_specs.html.erb', owner: @owner %></p>
<hr>
<p><%= render 'inventories/renter_specs.html.erb', renter: @renter %></p>
<hr>
<h3>Les pièces</h3>
<ul class="list-unstyled">
  <% @rental.inventories.each do |inventory| %>
  <li>
    <%= inventory.room.type_of_room %>
    Etat : <%= inventory.state %>
    Observations : <%= inventory.observations %>
  </li>
  <% end %>
</ul>
<br>
<hr>
<p</p>
<p><b>
Entretien courant et menues réparations :
</b></p><br>
<p align="justify">Le locataire doit veiller à maintenir en l'état le logement qu'il occupe.
À ce titre, il doit assurer l'entretien normal du logement et de ses éléments d'équipement, ainsi que les menues réparations nécessaires à moins qu'il ne prouve qu'elles sont dues à la vétusté, à une malfaçon ou à la force majeure.
À défaut, le bailleur peut retenir sur le dépôt de garantie les sommes correspondant aux réparations
locatives qui n'ont pas été effectuées par le locataire, justificatifs à l'appui.
</p><br>
 <p align = "right">Fait à (lieu)  , le (date)</p>
