<h3>Le Bailleur</h3>
<p>Nom et prénom : <%= @owner.last_name %> <%= @owner.first_name %></p>
<p>Adresse :</p>
<ul class="list-unstyled">
  <li><%= @owner.street %></li>
  <li><%= @owner.zip_code %></li>
  <li><%= @owner.city %></li>
</ul>
<br>
