<%= simple_form_for [@rental, @renter] do |f| %>
  <div class="row">
    <%= f.input :first_name, {
      label: 'Prénom',
      placeholder: 'Boris',
      wrapper_html: { class: 'col' }
      }
    %>
    <%= f.input :last_name, {
      label: 'Nom',
      placeholder: 'Paillard',
      wrapper_html: { class: 'col' }
      }
    %>
  </div>
  <div>
    <%= f.input :gender, {
      as: :radio_buttons,
      label: 'Civilité',
      collection: Renter::GENDER_TYPE,
      class: 'form-check-input',
      wrapper_html: { class: 'form-check form-check-inline' }
      }
    %>
  </div>
  <%= f.input :date_of_birth, {
    start_year: Date.today.year - 95,
    end_year: Date.today.year - 18,
    order: [:day, :month, :year],
    label: 'Date de naissance',
    placeholder: '11/03/1983',
    required: true,
    autofocus: true
    }
  %>
  <%= f.input :nationality, {
    label: 'Nationalité',
    collection: NATIONALITIES
    }
  %>
  <div>
    <%= f.input :marital_status, {
      as: :radio_buttons,
      label: 'Status',
      collection: Renter::MARITAL_STATS_TYPE,
      class: 'form-check-input',
      wrapper_html: { class: 'form-check form-check-inline' }
      }
    %>
  </div>
  <%= f.input :phone_number, {
    label: 'Téléphone',
    placeholder: '07 82 16 08 01'
    }
  %>
  <%= f.input :email, {
    label: 'E-mail',
    placeholder: 'user@hiry.com'
    }
  %>
  <%= f.submit "Ajouter le locataire", class: "btn btn-primary btn-lg btn-block" %>
<% end %>
