<div class="form-page">
  <div class="container">
    <h3 class="form-title align-center">Mot de passe oublié ?</h3>
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.input :email, label: 'E-mail', required: true, autofocus: true %>
          <%= f.button :submit, 'Aidez-moi', class: "btn btn-primary btn-lg btn-block" %>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
