<div class="navbar-flex-container">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-right-container d-none d-md-block">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <div class="navbar-wrapper">
        <nav class="navbar-menu">
          <%= link_to "Ajouter un bien", new_housing_path, class: "navbar-item navbar-link" %>
          <%= link_to "Voir mes biens", housings_path, class: "navbar-item navbar-link" %>
        </nav>

        <!-- Avatar with dropdown menu -->
        <div class="navbar-item">
          <div class="dropdown">
            <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-menu", "data-toggle" => "dropdown" %>
            <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
              <nav>
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                  <% end %>
                </li>
              </nav>
            </ul>
          </div>
        </div>
      </div>

    <% else %>

      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-item navbar-link" %>

    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-item d-md-none">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <nav>
          <li><a href="#">Some mobile link</a></li>
          <li><a href="#">Other one</a></li>
          <li><a href="#">Other one</a></li>
        </nav>
      </ul>
    </div>
  </div>

</div>
