<ul>
  <li>Meublé / Non meublé : <%= rental.furnished %></li>
  <li>Date de début de bail : <%= rental.start_date %></li>
  <li>Date de fin de bail : <%= rental.end_date %></li>
  <li>Loyer mensuel : <%= rental.monthly_rent %></li>
  <li>Charges mensuelles : <%= rental.monthly_expenses %></li>
</ul>
