<div class="containter">
  <%= simple_form_for [@rental, @renter] do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone_number %>
    <%= f.input :email %>
    <%= f.input :nationality %>
    <%= f.input :date_of_birth %>
    <%= f.input :marital_status %>
    <%= f.input :rental_id %>
    <%= f.submit "Valider", class: "btn btn-primary" %>
  <% end %>
</div>
