<ul class="list-unstyled">
  <li>Type de logement : <%= @housing.type_of_housing %></li>
  <li>Régime juridique du bien : <%= @housing.legal_regime %></li>
  <li>Situation : <%= @housing.street %> <%= @housing.zip_code %> <%= @housing.city %></li>
  <li>Période de construction : <%= @housing.year_of_construction %></li>
  <li>Etage : <%= @housing.floor %></li>
  <li>Surface total en m2 : <%= @housing.size %></li>
</ul>
