<ul class="list-unstyled">
  <li>Prénom : <%= @owner.first_name %></li>
  <li>Nom : <%= @owner.last_name %></li>
  <li>Rue <%= @owner.street %></li>
  <li>Code postal : <%= @owner.zip_code %></li>
  <li>Ville : <%= @owner.city %></li>
  <li>Nationalité : <%= @owner.nationality %></li>
  <li>Date de naissance : <%= @owner.date_of_birth %></li>
  <li>Statut : <%= @owner.marital_status %></li>
</ul>
