<ul>
  <li><%= @owner.first_name %></li>
  <li><%= @owner.last_name %></li>
  <li><%= @owner.street %></li>
  <li><%= @owner.zip_code %></li>
  <li><%= @owner.city %></li>
  <li><%= @owner.nationality %></li>
  <li><%= @owner.date_of_birth %></li>
  <li><%= @owner.marital_status %></li>
</ul>
