<ul class="list-unstyled">
  <li>Prénom : <%= @renter.first_name %></li>
  <li>Nom : <%= @renter.last_name %></li>
  <li>Téléphone : <%= @renter.phone_number %></li>
  <li>email : <%= @renter.email %></li>
  <li>Nationalité : <%= @renter.nationality %></li>
  <li>Date de naissance : <%= @renter.date_of_birth %></li>
  <li>Statut : <%= @renter.marital_status %></li>
</ul>
