<div class="page-content">
	<div class="container">
	  <div class="row">
      <div class="col-md-8 offset-md-2">
        <%= link_to "Tableau de bord", housing_path(@housing), class: "btn btn-primary mt-2" %>
        <%= link_to 'Version PDF',     rental_path(@rental, :format => :pdf), class: "btn btn-primary mt-2" %>
        <%= link_to 'Envoyez contrat', rental_path(@rental, :format => :pdf), class: "btn btn-primary mt-2" %>
        <%= link_to 'Version PDF', @rental.lease_pdf.url, class: "btn btn-primary mt-2", target: "_blank" %>
        <hr>
        <%= render 'rental' %>
      </div>
    </div>
  </div>
</div>
