<ul class="list-unstyled">
  <li>
    <div>

    </div>
    Adresse : <%= housing.street %>

  </li>
  <li>Code postal : <%= housing.zip_code %></li>
  <li>Type de bien : <%= housing.type_of_housing %></li>
  <li>Régime légal : <%= housing.legal_regime %></li>
  <li>Année de construction : <%= housing.year_of_construction %></li>
  <li>Étage : <%= housing.floor %></li>
  <li>Surface en m2 : <%= housing.size %></li>
</ul>
