<strong> Informations générales </strong>
<br>
<br>

<ul class="list-unstyled housing-details">
  <li> Adresse : <span class="small-blue-text"><%= housing.street %></span></li>
  <li> Code postal : <span class="small-blue-text"><%= housing.zip_code %></span></li>
  <li> Type de bien : <span class="small-blue-text"><%= housing.type_of_housing %></span></li>
  <li> Régime légal : <span class="small-blue-text"><%= housing.legal_regime %></span></li>
  <li> Année de construction : <span class="small-blue-text"><%= housing.year_of_construction %></span></li>
  <li> Étage : <span class="small-blue-text"><%= housing.floor %></span></li>
  <li> Surface en m<sup>2</sup> : <span class="small-blue-text"><%= housing.size %></span></li>
</ul>
<ul class="list-unstyled list-inline">
  <li class="list-inline-item">
    <strong> Pièces </strong>
  </li>
  <li class="list-inline-item">
    <%= link_to new_housing_room_path(@housing) do %>
      <i class="fa fas fa-plus plus-button-small"></i>
    <% end %>
  </li>
</ul>
<ul class="list-unstyled housing-details">
  <% @housing.rooms.each do |room| %>
    <li>
      <%= room.type_of_room %> :
      <span class="small-blue-text"><%= room.size %> m<sup>2</sup></span>
    </li>
  <% end %>
</ul>
