<%= simple_form_for [@housing] do |f| %>
  <%= f.input :type_of_housing, {
    as: :radio_buttons,
    label: 'Type de bien',
    placeholder: 'Appartement ou maison',
    collection: Housing::TYPE_OF_HOUSING,
    class: 'form-check-input',
    wrapper_html: { class: 'form-check form-check-inline' }
    }
  %>
  <%= f.input :street, {
    label: 'Rue',
    placeholder: '26 rue du Dragon'
    }
  %>
  <div class="form-row">
    <%= f.input :zip_code, {
      label: 'Code postal',
      placeholder: '75006',
      wrapper_html: { class: 'col-4' }
      }
    %>
    <%= f.input :city, {
      label: 'Ville',
      placeholder: 'Paris',
      wrapper_html: { class: 'col-7 offset-1' }
      }
    %>
  </div>
  <div class="form-row">
  <%= f.input :year_of_construction, {
    label: 'Année de construction',
    placeholder: '1950',
    wrapper_html: { class: 'col-4' }
    }
  %>
  <%= f.input :size, {
    label: 'Surface',
    placeholder: '40',
    wrapper_html: { class: 'col-3 offset-1' }
    }
  %>
  <!-- Hide floor field if housing type has been set to house on housing creation.
  Only useful for housing#edit view.  -->
  <%= f.input :floor, {
    label: 'Étage',
    placeholder: '2',
    class: "#{ 'd-none' if @housing.type_of_housing != "Appartement" }",
    wrapper_html: { class: 'col-3 offset-1' }
    }
  %>
  </div>
  <%= f.input :legal_regime, {
    as: :radio_buttons,
    label: 'Régime juridique',
    placeholder: 'Appartement ou maison',
    collection: Housing::LEGAL_REGIME_TYPE,
    class: 'form-check-input',
    wrapper_html: { class: 'form-check form-check-inline' }
    }
  %>
  <%= f.submit "Ajouter mon bien", class: "btn btn-primary btn-lg btn-block" %>
<% end %>
