<div class="item-housing">

  <!-- Top part of the housing card -->
  <div class="card-housing">
    <%= link_to housing_path(housing), class: 'card-link' do %>
      <div class="card-location">
        <div class="card-location-text">
          <h3 class="card-location-title sans-serif light">
            <%= housing.street %><br><%= housing.zip_code %> <%= housing.city.upcase %>
          </h3>
          <div class="card-date">
            <% if defined?(rental) && renter.present? %>
              <h6 class="card-date-title bold sans-serif">Loué depuis le <%= rental.start_date %> à <%= renter.first_name %> <%= renter.last_name %></h6>
            <% else %>
              <h6 class="card-date-title bold sans-serif">Créé en <%= housing.created_at.strftime("%B, %Y") %></h6>
            <% end %>
          </div>
        </div>
        <!-- Adds a map to the housing car -->
        <div class="card-location-map">
          <% markers = [{ lat: housing.latitude, lng: housing.longitude }] %>
          <% if housing.latitude != nil %>
            <div id=<%= "map#{housing.id}" %> class="mini_map" style="width: 100%; height: 100%;" data-markers="<%= markers.to_json %>"></div>
          <% else %>
            <div id=<%= "map#{housing.id}" %> class="mini_map" style="width: 100%; height: 100%;" data-markers='[{"lat":0,"lng":0}]'></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Adds a call to action to rent the housing if housing is empty -->
  <div class="card-rental-link">
    <% unless defined?(rental) %>
      <%= link_to new_housing_rental_path(housing) do %>
        <div class="card-rental">
          <div class="card-rental-icon">
            <i class="fa fas fa-key key"></i>
          </div>
          <div class=card-rental-info>
            <p><strong>Louez votre appartement</strong></p>
            <p>Votre appartement est inoccupé. Créez les documents pour le louer.</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

	<!-- Adds links to the bottom of the card -->
  <div class="card-edit">
    <div class="card-edit-links">
      <ul class="nav">
        <li class="nav-item"><%= link_to "Supprimer", root_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Modifier", root_path, class: 'nav-link' %></li>
      </ul>
    </div>
  </div>

</div>
