<div class="row">
  <div class="col-md-8 offset-md-2">
    <!-- Google Map -->
    <div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>"></div>

    <!-- Housings lists -->
    <h1>Ma liste de biens</h1>
    <div>
      <% @housings.each do |housing| %>
        <%# rentals  = Rental.where(housing_id: housing.id) %>
        <%# rental   = rentals.last %>
        <%# renters  = Renter.where(rental_id: rental.id) %>
        <%# renter   = renters.last %>

        <div class="my-5">
          <div class="card-housing">
            <div class="card-location">
              <div class="card-location-text">
                <%= housing.street %> <br>
                <%= housing.zip_code %>
                <%= housing.city.upcase %> <br>
                Créé le <%= housing.created_at %>
                <%= link_to "Voir ce bien", housing_path(housing) %>
              </div>
              <div class="card-location-map">
                map
              </div>
            </div>
            <div class="card-rental">
              <div class="card-rental-icon">
                i
              </div>
              <div class=card-rental-info>
                Louez votre appartement <br>
                Votre appartement est inoccupé. Créez les documents pour le louer.
              </div>
            </div>
            <div class="card-edit">
              <%= link_to "Supprimer", root_path %> - <%= link_to "Editer", root_path %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to "Ajouter un bien", new_housing_path, class: "btn btn-primary mt-2" %>
  </div>
</div>
