<!-- Background image -->
<% if !@image.nil? && if !@image.photo.url.nil? %>
  <div class="fullscreen fullscreen-img" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(44,44,44,0.6) 50%), url('<%= cl_image_path @image.photo, height: 700, width: 1440, crop: :fill %>')">
  <% end %>
<% else %>
  <%= render 'shared/banner' %>
<% end %>
  <div class="fullscreen-content">
  	<h1 class="fullscreen-title"><%= @housing.street %></h1>
  </div>
</div>


<!-- Page container -->
<div class="page-content">
  <div class="container">
    <div class="row">

      <!-- Sticky sidebar navigation -->
      <div class="col-md-3 housing-show-links">
        <ul class="list-unstyled">
          <li>
            <a class="text-black" href="#rental"><h4>Ma location</h4></a>
          </li>
          <li>
            <a class="text-black" href="#housing"><h4>Mon bien</h4></a>
          </li>
          <% if @housing.rooms.present? %>
            <li>
              <a class="text-black" href="#rooms"><h4>Mes pièces</h4></a>
            </li>
          <% end %>
        </ul>
      </div>

      <!-- Begin Housing infos -->
      <div class="col-md-9">
        <div class="list-housing">

          <!-- Rental column (right side) -->
          <div id="rental" class="vacant-housings-list">
            <h2 id="vacant-housing" class="housings-list-title">Ma location</h2>

            <div class="row">
              <!-- Begin if rental -->
              <% if @rental.present? %>

                <!-- 1 Contract -->
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">Bail</h3>
                      <h5 class="card-subtitle mb-2 text-gray-dark">Votre contrat de location</h5>
                      <p class="card-text">
                        Visualisez votre contrat de bail en version PDF. Envoyez-le par e-mail à votre locataire. Sauvez des arbres.
                      </p>
                      <%= link_to "Voir mon contrat", rental_path(@rental), class: 'card-link' %>
                    </div>
                  </div>
                </div>

                <!-- 2 Receipts -->
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">Quittances</h3>
                      <h5 class="card-subtitle mb-2 text-gray-dark">Vos quittances de loyer</h5>
                      <p class="card-text">
                        Créez, visualisez et envoyez par e-mail vos quittances de loyer. Plus besoin de passer par la case Poste.
                      </p>
                      <%= link_to "Voir mes quittances", rental_receipts_path(@rental), class: 'card-link' %>
                    </div>
                  </div>
                </div>

                <!-- 3 Inventory -->
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">État des lieux</h3>
                      <h5 class="card-subtitle mb-2 text-gray-dark">Votre état des lieux</h5>
                      <p class="card-text">
                        Créez, visualisez et envoyez votre état des lieux par e-mail à votre locataire. C’est simple. Ça marche.
                      </p>
                      <% if @housing.inventories.present? %>
                        <%= link_to "Voir mon état des lieux", rental_inventories_path(@rental), class: 'card-link' %>
                      <% else %>
                        <%= link_to "Créer mon état des lieux", new_rental_inventory_path(@rental), class: 'card-link' %>
                      <% end %>
                    </div>
                  </div>
                </div>

              <!-- if there is no rental yet dispaly rental creation call-to-action -->
              <% else %>
                <div class="card align-center mb-5">
                  <div class="card-body my-3">
                    <h3 class="card-title serif">Votre <%= @housing.type_of_housing.downcase %> n’est pas encore en location</h3>
                    <p class="card-text">Pour louer votre bien, créez un contrat et ajouter un locataire.</p>
                    <%= link_to "Commencer les démarches", new_housing_rental_path(@housing), class: "btn btn-primary btn-lg mt-5" %>
                  </div>
                </div>
              <% end %>
              <!-- End if rental -->

            <!-- End row -->
            </div>
          </div>

          <!-- Info on rooms (if presents) -->
          <% if @housing.rooms.present? %>
            <div id="rooms" class="mt-5">
              <h2 class="text-uppercase">Mes <%= @housing.rooms.count.to_i %> pièces</h2>
              <div class="row">
                <% @housing.rooms.each do |room| %>
                  <%= render 'details_rooms', housing: @housing, room: room %>
                <% end %>
              </div>
              <%= link_to "Ajouter une autre pièce", new_housing_room_path(@housing), class: "btn btn-primary btn-lg mt-3" %>
            </div>
          <% end %>

          <!-- Info on renter (if presents) -->
          <% if @rental.present? %>
            <div id="renter" class="mt-5">
              <h2 class="text-uppercase">Mon locataire</h2>
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title"><%= @rental.renter.first_name %> <%= @rental.renter.last_name %></h3>
                  <%= render 'details_renter', renter: @rental.renter %>
                </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>

      <!-- End housings list -->
    </div>
  </div>
</div>
