  <h1>
    <%= @housing.street %>
  </h1>

<!-- Rubrique location -->

  <h2>
    <%= "Ma location" %>
  </h2>

  <% if @rental.present? %>
    <%= link_to "Mon contrat de location", rental_path(@rental), type: "button", class: "btn btn-primary mt-2" %>
    <%= link_to "Générez une quittance", new_rental_receipt_path(@rental), type: "button", class: "btn btn-primary mt-2" %>
    <% if @housing.inventories.present? %>
      <%= link_to "Afficher l'état des lieux", rental_inventory_path(@rental), type: "button", class: "btn btn-primary mt-2" %>
    <% else %>
      <%= link_to "Etablir l'état des lieux", new_rental_inventory_path(@rental), type: "button", class: "btn btn-primary mt-2" %>
    <% end %>
  <% else %>
    <%= link_to "Ajouter une nouvelle location", new_housing_rental_path(@housing), type: "button", class: "btn btn-primary mt-2" %>
  <% end %>
  <hr>



<!-- Rubrique fiche de bien -->

    <h2>
        Ma fiche de bien
    </h2>
      <h3>
        Informations générales
        </h3>
        <%= render 'details', housing: @housing %>
        <h3>
        <%= "Pièces" %>
        </h3>
          <ul>
            <% @housing.rooms.each do |room| %>
            <li>
              <%= room.type_of_room %> : <%= room.size %> m2
            </li>
            <% end %>
          </ul>

<%= link_to "Ajouter une nouvelle pièce", new_housing_room_path(@housing), type: "button", class: "btn btn-primary mt-2" %>

<!-- Rubrique statistique -->

  <h2>
    <%= "Mes statistiques" %>
  </h2>
  <hr>

 </div>

</div>
