<!-- Background image -->
<% if !@image.nil? && if !@image.photo.url.nil? %>
    <div class="fullscreen fullscreen-img" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(44,44,44,0.6) 50%), url('<%= cl_image_path @image.photo, height: 700, width: 1440, crop: :fill %>')">
  <% end %>
<% else %>
  <%= render 'shared/banner' %>
<% end %>
  <div class="fullscreen-content">
  	<h1 class="fullscreen-title"><%= @housing.street %></h1>
  </div>
</div>


<!-- Page container -->
<div class="page-content">
  <div class="container">
    <div class="row">

      <!-- Sticky sidebar navigation -->
      <div class="col-md-3">
        <nav class="nav flex-column housing-nav">
          <a class="nav-link" href="#rental"><h4><span>Ma location</span></h4></a>
          <a class="nav-link" href="#housing"><h4>Ma fiche de bien</h4></a>
        </nav>
      </div>

      <!-- Begin Housing infos -->
      <div class="col-md-9">

        <div class="list-housing">
          <!-- Inf on rental -->
          <div class="vacant-housings-list">
            <h2 id="vacant-housing" class="housings-list-title"><span>Ma location</span></h2>
            <div class="rental-info-cards">
              <% if @rental.present? %>
                <div class="rental-info-card">
                  <div class="rental-info-card-title">
                    <%= link_to 'Contrat de location ', rental_path(@rental) %>
                  </div>
                  <div class="rental-info-card-description">
                    Visualisez votre contrat de bail en version PDF
                  </div>
                </div>
                <div class="rental-info-card">
                  <div class="rental-info-card-title">
                    <%= link_to "Quittances", rental_receipts_path(@rental) %>
                  </div>
                  <div class="rental-info-card-description">
                    Générez et visualisez vos quittances de loyers
                  </div>
                </div>
                <div class="rental-info-card">
                  <div class="rental-info-card-title">
                    <% if @housing.inventories.present? %>
                        <%= link_to 'Etat des lieux',  rental_inventories_path(@rental) %>
                    <% else %>
                      <%= link_to "Etat des lieux",  new_rental_inventory_path(@rental) %>
                    <% end %>
                  </div>
                  <% if @housing.inventories.present? %>
                    <div class="rental-info-card-description">
                      Visualisez votre état des lieux
                    </div>
                  <% else %>
                      <div class="rental-info-card-title-plus">
                        <%= link_to new_rental_inventory_path(@rental) do %>
                          <i class="fa fas fa-plus plus-button"></i>
                        <% end %>
                      </div>
                  <% end %>
                </div>
              <% else %>
                <div class="rental-info-card">
                  <div class="rental-info-card-icon">
                    <%= link_to new_housing_rental_path(@housing) do %>
                      <i class="fas fa-plus plus-button"></i>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <!-- Info on housing -->
          <div class="rented-housings-list">
            <h2 id="housing" class="housings-list-title">Ma fiche de bien</h2>
              <div class="housing-info">
                <%= render 'details', housing: @housing %>
              </div>
          </div>
        </div>
      </div>
      <!-- End housings list -->
    </div>
  </div>
</div>
