
<div class="container">
  <h1>
    <%= @housing.street %>
  </h1>

<!-- Rubrique location -->

  <h2>
    <%= "Ma location" %>
  </h2>
  <hr>
  <%= link_to "Ajouter une nouvelle location", new_housing_rental_path(@housing), type: "button", class: "btn btn-primary" %>

<!-- Rubrique fiche de bien -->

    <h2>
        Ma fiche de bien
    </h2>
      <h3>
        Informations générales
        </h3>
        <%= render 'details', housing: @housing %>
        <h3>
        <%= "Pièces" %>
        </h3>
          <ul>
            <% @housing.rooms.each do |room| %>
            <li>
              <%= room.type_of_room %> : <%= room.size %> m2
            </li>
            <% end %>
          </ul>
<!-- Rubrique fiche de bien -->
  <%= link_to "Ajouter une pièce", type: "button", class: "btn btn-primary" %>

<!-- Rubrique statistique -->

  <h2>
    <%= "Mes statistiques" %>
  </h2>
  <hr>

 </div>

</div>
