<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1><%= @housing.street %></h1>

        <!-- Rubrique location -->
        <h2><%= "Ma location" %></h2>


        <% if @rental.present? %>
          <%= link_to 'Contrat de location', rental_path(@rental, :format => :pdf), class: "btn btn-primary" %>
          <%= link_to "Quittances", rental_receipts_path(@rental), class: "btn btn-primary" %>
           <% if @housing.inventories.present? %>
            <%= link_to 'Etat des lieux',  rental_inventories_path(@rental, :format => :pdf), class: "btn btn-primary" %>
           <% else %>
             <%= link_to "Etablir l'état des lieux", new_rental_inventory_path(@rental), class: "btn btn-primary" %>
            <% end %>
         <% else %>
           <%= link_to "Ajouter une nouvelle location", new_housing_rental_path(@housing), class: "btn btn-primary" %>
         <% end %>
         <hr>

        <!-- Rubrique fiche de bien -->
        <h2>Ma fiche de bien</h2>
        <h3>Informations générales</h3>
        <%= render 'details', housing: @housing %>
        <hr>
        <h3><%= "Pièces" %></h3>
        <ul>
          <% @housing.rooms.each do |room| %>
            <li><%= room.type_of_room %> : <%= room.size %> m2</li>
          <% end %>
        </ul>
        <%= link_to "Ajouter une nouvelle pièce", new_housing_room_path(@housing), class: "btn btn-primary btn-lg" %>

        <!-- Rubrique statistique -->
        <hr>
        <h2><%= "Mes statistiques" %></h2>
      </div>
    </div>
  </div>
</div>
