<%= simple_form_for([ housing, room ], remote: true) do |f| %>
  <%= f.input :type_of_room, label: 'Type de pièce', collection: Room::ROOM_TYPE %>
  <%= f.input :size, label: 'Taille de la pièce (en mètres carrés)', placeholder: '8' %>
  <label class="form-control-label" for="room_images_attributes_0_photo">Photo de la pièce</label>
  <div class="input-group">
    <%= f.simple_fields_for :images do |image_form| %>
      <%= image_form.input :photo, {
        as: :file,
        label: 'Choisir une photo',
        label_html: { class: "custom-file-label" },
        class: "custom-file-input",
        wrapper_html: { class: "custom-file" }
        }
      %>
      <%= image_form.input :photo_cache, as: :hidden %>
    <% end %>
  </div>

  <%= f.submit "Ajouter cette pièce", class: "btn btn-primary btn-lg btn-block" %>
<% end %>
