<h1> Mes quittances </h1>
<p> <%= @housing.street %> - <%= @renter.first_name %> <%= @renter.last_name %> <p>
<p> Contrat de location daté du <%= @rental.start_date %> </p>

<%= link_to "Générez une quittance", new_rental_receipt_path(@rental), type: "button", class: "btn btn-primary mt-2" %>

<ul>
  <% @receipts.each do |receipt| %>
    <div>
      <hr>
      <li>
        Date quittance: <%= receipt.date %>
      </li>
      <li>
        Montant total <%= receipt.monthly_invoice %>
      </li>
    </div>
  <% end %>
</ul>
