<div class="page-content">
	<div class="container">
	  <div class="row">
      <div class="col-md-8 offset-md-2">
        <ul class="list-inline align-center">
          <li class="list-inline-item">
            <br>
            <br>
            <br>
            <div class="navigaton-container">
              <%= link_to housing_path(@rental.housing), class: "button-navigation-small" do %>
                <i class="fa fas fa-long-arrow-alt-left"></i>
              <% end %>
            </div>
            <br>
            <h1>Mes quittances</h1>
          </li>
          <li class="list-inline-item">
            <%= link_to new_rental_receipt_path(@rental) do %>
              <i class="fa fas fa-plus plus-button"></i>
            <% end %>
         </li>
        </ul>

        <!-- Info on the housing & renter -->
        <% if @renter.nil? %>
          <div>
            Vous n'avez pas encore défini de locataire
          </div>
        <% else %>
          <div class="card-date-title h6 align-center" >
            <%= @housing.street %> - <%= @renter.gender %> <%= @renter.first_name %> <%= @renter.last_name %> -
            <%= link_to "Contrat de location", rental_path(@rental) %> daté du <%= @rental.start_date %>
          </div>
        <% end %>


        <!-- Go to dashboard
          <%= link_to "Tableau de bord", housing_path(@housing), class: "btn btn-primary btn-lg" %>
        -->


        <!-- All receipts -->
        <section id="receipt-index">
          <% receipts_sorted = @receipts.sort_by &:date %>
          <% receipts_sorted.reverse.each do |receipt| %>
            <div class="card-receipt">
              <div class="card-receipt-date">
                <%= receipt.date.strftime("%B, %Y") %>
              </div>
              <div class="card-receipt-info">
                Montant total: <%= receipt.monthly_invoice %>€
              </div>
              <div class="card-receipt-edit">
                <%= link_to receipt_path(receipt, :format => :pdf) do %>
                  <i class="fa fas fa-print"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </section>
      </div>
    </div>
  </div>
</div>
