<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hiry</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <header>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
    </header>
    <!-- Puts everything that is not the navbar or the footer into a bootstrap container -->
    <main class="main my-5">
      <div class="container">
        <%= yield %>
        <%= javascript_pack_tag "map" %>
        <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
        <%= javascript_include_tag 'application' %>
        <%= javascript_pack_tag 'application' %>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <%= render 'shared/footer' %>
      </div>
    </footer>
  </body>
</html>
